@import '../utils';

.cli {
    .grid {
        grid-template-columns: repeat(3, 1fr);

        devsite-code {
            font-size: 18px;
            position: relative;
            padding: 2rem;
            width: 100%;
            height: 85%;
            border-radius: 10px;
            background-color: $dark-color;
            grid-column: 1 / 3;
            grid-row: 1 / 3;

            p {
                display: flex;
                flex-direction: column;
                margin-bottom: 2rem;

                .command {
                    color: #eceff1;
                    &::before {
                        content: '$ ';
                    }
                }
                .comment {
                    color: #f06292;
                    &::before {
                        content: '# ';
                    }
                }
            }
            .mac-buttons {
                width: 60px;
                top: -20px;
                left: -15px;
                position: relative;
                display: flex;
                justify-content: space-between;
                z-index: 2;

                div {
                    border-radius: 50%;
                    height: 15px;
                    width: 15px;

                    &:nth-child(1) {
                        background: rgb(253, 95, 88);
                    }

                    &:nth-child(2) {
                        background: rgb(254, 188, 47);
                    }

                    &:nth-child(3) {
                        background: rgb(40, 200, 64);
                    }
                }
            }
        }
        .card {
            grid-column: 3;
        }
    }
}
