@import '../const';

.cloud {
    .grid {
        grid-template-columns: 4fr 2fr;
    }
    p {
        font-weight: 300;
    }
}

@media (max-width: $tablet-width) {
    .cloud .grid img {
        height: 300px;
        width: auto;
        justify-self: center;
    }
}

@media (max-width: $mobile-width) {
    .cloud .text-center {
        text-align: center;
    }
}
