@import '../const';

.logos {
    .flex {
        flex-wrap: wrap;
    }
    .card {
        text-align: center;
        margin: 18px 10px;
        transition: transform 0.2s ease-in;

        h4 {
            font-size: 20px;
            margin-bottom: 10px;
        }

        img {
            width: 100px;
            height: 100px;
        }

        &:hover {
            @include transform(translateY(-10px));
        }
    }
}
