.stats {
    margin-top: 100px;

    &-heading {
        max-width: 500px;
        margin: auto;
    }

    .grid {
        h3 {
            font-size: 35px;
            font-weight: 300;
        }
        p {
            font-size: 15px;
            font-weight: bold;
        }
    }
}
