@import '../const';

.alert {
    background-color: $light-color;
    padding: 10px 20px;
    font-weight: bold;
    margin: 15px 0;

    i {
        margin-right: 10px;
    }

    &-success {
        background-color: $success-color;
        color: #fff;
    }

    &-error {
        background-color: $error-color;
        color: #fff;
    }
}
