.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: $primary-color;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all 0.1s;

    &:hover,
    &:active,
    &:focus {
        transform: scale(0.9);
    }
}

.btn-outline {
    position: relative;
    background: transparent;
    border: 1px solid #fff;
    transition: all 0.3s;
    font-weight: 400;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        border-radius: 3px;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scaleY(0);
        transform-origin: bottom center;
        background: #fff;
        z-index: -1;
        transition: all 0.3s;
    }

    &:hover,
    &:active,
    &:focus {
        transform: scale(1);
        color: $primary-color;

        &::after {
            transform: scaleY(1);
        }
    }
}
