/* Vertical margin */
.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.my-3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.my-4 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.my-5 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

/* Margin all around */
.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 1.5rem;
}

.m-3 {
    margin: 2rem;
}

.m-4 {
    margin: 3rem;
}

.m-5 {
    margin: 4rem;
}

/* Padding vertical */
.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 1.5rem 0;
}

.py-3 {
    padding: 2rem 0;
}

.py-4 {
    padding: 3rem 0;
}

.py-5 {
    padding: 4rem 0;
}

/* Padding all around */
.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 1.5rem;
}

.p-3 {
    padding: 2rem;
}

.p-4 {
    padding: 3rem;
}

.p-5 {
    padding: 4rem;
}
