@import '../const';

.lead {
    font-size: 20px;
}

.sm {
    font-size: 1rem;
}

.md {
    font-size: 2rem;
}

.lg {
    font-size: 3rem;
}

.xl {
    font-size: 4rem;
}

.code {
    background-color: $dark-color;
    padding: 0.3rem 0.8rem;
}

.command {
    color: #eceff1;
    &::before {
        content: '$ ';
    }
}

.comment {
    color: #f06292;
    &::before {
        content: '# ';
    }
}
