<footer class="global-footer bg-dark py-5 text-center">
    <div class="container grid grid-3">
        <div>
            <h1>nujo</h1>
            <p id="copyright">Copyright &copy;</p>
        </div>
        <nav>
            <ul>
                <ul>
                    <li>
                        <a href="/index.html">Home</a>
                    </li>
                    <li>
                        <a href="/features.html">Features</a>
                    </li>
                    <li>
                        <a href="/docs.html">Docs</a>
                    </li>
                </ul>
            </ul>
        </nav>
        <div class="social">
            <a href="https://github.com/VIVelev/nujo">
                <i class="fab fa-github fa-2x"></i>
            </a>
            <a href="https://pypi.org/project/nujo/">
                <i class="fab fa-python fa-2x"></i>
            </a>
            <a href="https://trello.com/b/fObyuiWt/nujo-develop">
                <i class="fab fa-trello fa-2x"></i>
            </a>
            <a href="https://twitter.com">
                <i class="fab fa-twitter fa-2x"></i>
            </a>
        </div>
    </div>
</footer>
