<header class="global-header">
    <nav class="container flex">
        <h1 class="logo">nujo</h1>
        <ul>
            <li>
                <a href="/index.html">Home</a>
            </li>
            <li>
                <a href="/features.html">Features</a>
            </li>
            <li>
                <a href="/docs.html">Docs</a>
            </li>
            <li>
                <a href="https://github.com/VIVelev/nujo">GitHub</a>
            </li>
        </ul>
    </nav>
</header>
