$primary-color: #047aed;
$secondary-color: #1c3fa8;
$dark-color: #0c1021;
$light-color: #f4f4f4;

$mobile-width: 500px;
$tablet-width: 768px;

@mixin transform($property) {
    transform: $property;
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
}

.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

/* Buttons and Backgrounds */
.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: $primary-color;
    color: #fff;
    border: none;
    border-radius: 5px;

    &:hover {
        transform: scale(0.9);
    }
}

.btn-outline {
    position: relative;
    background: transparent;
    border: 1px solid #fff;
    transition: all 0.3s;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        border-radius: 3px;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scaleY(0);
        transform-origin: bottom center;
        background: #fff;
        z-index: -1;
        transition: all 0.3s;
    }

    &:hover {
        transform: scale(1);
        color: $primary-color;
        transition-delay: 0.1s;
        &::after {
            transform: scaleY(1);
        }
    }
}

.bg-primary,
.btn-primary {
    background-color: $primary-color;
    color: #fff;
}

.bg-secondary,
.btn-secondary {
    background-color: $secondary-color;
    color: #fff;
}

.bg-dark,
.btn-dark {
    background-color: $dark-color;
    color: #fff;
}

.bg-light,
.btn-light {
    background-color: $light-color;
    color: #333;
}

/* Margins and Paddings */
.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.my-3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.my-4 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.my-5 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 1.5rem;
}

.m-3 {
    margin: 2rem;
}

.m-4 {
    margin: 3rem;
}

.m-5 {
    margin: 4rem;
}

.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 1.5rem 0;
}

.py-3 {
    padding: 2rem 0;
}

.py-4 {
    padding: 3rem 0;
}

.py-5 {
    padding: 4rem 0;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 1.5rem;
}

.p-3 {
    padding: 2rem;
}

.p-4 {
    padding: 3rem;
}

.p-5 {
    padding: 4rem;
}

/* Text sizes */
.lead {
    font-size: 20px;
}

.sm {
    font-size: 1rem;
}

.md {
    font-size: 2rem;
}

.lg {
    font-size: 3rem;
}

.xl {
    font-size: 4rem;
}
