@import 'const';

.container {
    max-width: calc(1200px + 2 * 2rem);
    margin: 0 auto;
    overflow: auto;
    padding: 0 2rem;
}

.text-center {
    text-align: center;
}

.text-link {
    color: $primary-color;
    cursor: pointer;
    display: inline-block;

    &::after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background: $primary-color;
        transition: width 0.2s;
    }

    &:hover::after {
        width: 60%;
    }
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

/* Buttons and Backgrounds */

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: $primary-color;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all 0.1s;

    &:hover,
    &:active,
    &:focus {
        transform: scale(0.9);
    }
}

.btn-outline {
    position: relative;
    background: transparent;
    border: 1px solid #fff;
    transition: all 0.3s;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        border-radius: 3px;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scaleY(0);
        transform-origin: bottom center;
        background: #fff;
        z-index: -1;
        transition: all 0.3s;
    }

    &:hover,
    &:active,
    &:focus {
        transform: scale(1);
        color: $primary-color;
        transition-delay: 0.1s;

        &::after {
            transform: scaleY(1);
        }
    }
}

.bg-primary,
.btn-primary {
    background-color: $primary-color !important;
    color: #fff !important;
}

.bg-secondary,
.btn-secondary {
    background-color: $secondary-color !important;
    color: #fff !important;
}

.bg-dark,
.btn-dark {
    background-color: $dark-color !important;
    color: #fff !important;
}

.bg-light,
.btn-light {
    background-color: $light-color !important;
    color: #333 !important;
}

/* Alerts */

.alert {
    background-color: $light-color;
    padding: 10px 20px;
    font-weight: bold;
    margin: 15px 0;

    i {
        margin-right: 10px;
    }

    &-success {
        background-color: $success-color;
        color: #fff;
    }

    &-error {
        background-color: $error-color;
        color: #fff;
    }
}

/* Code */

.command {
    color: #eceff1;
    &::before {
        content: '$ ';
    }
}
.comment {
    color: #f06292;
    &::before {
        content: '# ';
    }
}

/* Margins and Paddings */

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.my-3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.my-4 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.my-5 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 1.5rem;
}

.m-3 {
    margin: 2rem;
}

.m-4 {
    margin: 3rem;
}

.m-5 {
    margin: 4rem;
}

.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 1.5rem 0;
}

.py-3 {
    padding: 2rem 0;
}

.py-4 {
    padding: 3rem 0;
}

.py-5 {
    padding: 4rem 0;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 1.5rem;
}

.p-3 {
    padding: 2rem;
}

.p-4 {
    padding: 3rem;
}

.p-5 {
    padding: 4rem;
}

/* Text sizes */
.lead {
    font-size: 20px;
}

.sm {
    font-size: 1rem;
}

.md {
    font-size: 2rem;
}

.lg {
    font-size: 3rem;
}

.xl {
    font-size: 4rem;
}
