@import 'components/card';
@import 'components/heading';

.sub-heading {
    img {
        width: 250px;
        justify-self: flex-end;
    }
}

.main {
    i {
        margin-right: 20px;
    }
    .grid {
        padding: 30px;
    }

    .card {
        &:nth-child(1) {
            grid-column: 1 / span 3;
        }

        &:nth-child(2) {
            grid-column: 1 / span 2;
        }
    }
}
