@import 'style';
@import 'components/card';
@import 'components/heading';

.main {
    h3 {
        margin: 20px 0;
    }

    .grid {
        grid-template-columns: 1fr 2fr;
    }

    aside {
        align-self: flex-start;
        li {
            font-size: 17px;
            padding-bottom: 5px;
            border-bottom: 1px solid #ccc;

            a:hover {
                font-weight: bold;
            }
        }
    }
}
