@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import 'utils/utils';

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

code,
pre {
    background: $dark-color;
    color: #fff;
    padding: 10px;
}

@media (max-width: $tablet-width) {
    .grid {
        grid-template-columns: 1fr !important;
        grid-template-rows: auto !important;

        & > * {
            grid-column: 1 !important;
            grid-row: auto !important;
        }
    }
}
