@import 'style';
@import 'components/showcase';
@import 'components/stats';
@import 'components/cli';
@import 'components/cloud';
@import 'components/logos';
@import 'components/card';

@media (max-width: $tablet-width) {
    .global-header .container {
        margin: 0 2rem;
    }

    .showcase {
        height: auto;

        &-text {
            text-align: center;
            margin-top: 40px;
        }

        &-form {
            justify-self: center;
        }
    }

    .cli {
        devsite-code {
            $padding: 1rem;
            margin: $padding;
            width: calc(100% - 2 * #{$padding}) !important;
        }

        .card {
            grid-row: 2;
        }
    }
}
