@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import 'utils/utils';

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

code,
pre {
    background: $dark-color;
    color: #fff;
    padding: 10px;
}

.global-header {
    background-color: $primary-color;
    color: #fff;
    height: 70px;

    .flex {
        justify-content: space-between;
    }

    nav {
        ul {
            display: flex;
            color: inherit;

            .active {
                color: #9fe7fd;
                &::after {
                    background: #9fe7fd !important;
                }
            }

            a {
                margin: 0 5px;
                padding: 10px;
                transition: width 0.2s;
                display: inline-block;

                &::after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 1px;
                    background: #fff;
                    transition: width 0.2s;
                }
                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
}

.global-footer {
    justify-self: flex-end;
    .social a {
        margin: 0 10px;
    }
    a:hover {
        color: $primary-color;
    }
}

@media (max-width: $tablet-width) {
    .grid {
        grid-template-columns: 1fr !important;
        grid-template-rows: auto !important;

        & > * {
            grid-column: 1 !important;
            grid-row: auto !important;
        }
    }
}

@media (max-width: $mobile-width) {
    .global-header {
        height: 110px;

        .flex {
            flex-direction: column;
        }

        ul {
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}
